    body { 
        background: black; 
        color: gold; 
        text-align: center; 
        font-family: Arial; 
        padding: 50px; 
    }
    h1 { 
        font-size: 40px; 
        color: gold;
        text-shadow: 2px 2px 4px #000;
    }
    h2 { 
        color: white; 
        font-size: 20px;
    }
    p {
        color: #ccc;
        font-size: 16px;
    }
    button { 
        background: gold; 
        color: black; 
        padding: 15px 30px; 
        border: none; 
        font-size: 18px; 
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 20px;
    }
    button:hover {
        background: white;
    }
